/* Algemene stijl */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #E2DDC7;
    color: #333;
}

/* Header */
header {
    background: #8DA868;
    color: white;
    padding: 1px;
    text-align: center;
}

/* Content */
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0px;
}

h2 {
    color: #1D4117;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Footer */
footer {
    text-align: center;
    padding: 0px;
    background: #E8B880;
    margin-top: 10px;
}
